
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Powered by Checky</h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
<!--
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com/">Materialize</a>
-->
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  

<div class="hiddendiv common"></div><div class="drag-target" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div><canvas id="xLabsCanvas" width="1366" height="629" style="display: none; width: 1366px; height: 629px; background: 0px center;"></canvas></body></html>
